{{"<!-- Contact Spree Form -->" | safeHTML}}
{{ if .contact_spree_form.enable }}
{{ with .contact_spree_form }}
<form
  action="{{ .form_action }}"
  class="fs-form fs-layout__2-column"
  target="_top"
  method="POST"
>
  <div class="fs-field">
    <label class="fs-label" for="business-area">Business Area</label>
    <select class="fs-select" id="business-area" name="business-area" required>
      <option value="dept-1">Cybersecurity</option>
      <option value="dept-2">Automation Tools</option>
      <option value="dept-3">Research & Development</option>
    </select>
  </div>
  <div class="fs-field">
    <label class="fs-label" for="request-type">Type of Request</label>
    <select class="fs-select" id="request-type" name="request-type" required>
      <option value="product-inquiry">Plans Inquiry</option>
      <option value="purchase-request">Purchase Request</option>
      <option value="general-inquiry">General Inquiry</option>
    </select>
  </div>
  <div class="fs-field">
    <label class="fs-label" for="title">Title</label>
    <select class="fs-select" id="title" name="title" required>
      <option value="mr">Mr</option>
      <option value="ms">Ms</option>
      <option value="mx">Mx</option>
    </select>
  </div>
  <div class="fs-field">
    <label class="fs-label" for="name">Name</label>
    <input class="fs-input" id="name" name="name" placeholder="{{ .name }}" autocomplete="on" required  />
  </div>
  <div class="fs-field">
    <label class="fs-label" for="email">Email</label>
    <input class="fs-input" id="email" name="email" placeholder="{{ .email }}" autocomplete="on" required />
  </div>
  <div class="fs-field">
    <label class="fs-label" for="company">Company</label>
    <input class="fs-input" id="company" name="company" placeholder="{{ .company }}"  autocomplete="on" required />
  </div>
  <div class="fs-field">
    <label class="fs-label" for="country">Country</label>
    <input class="fs-input" id="country" name="country" required autocomplete="on" />
  </div>
  <div class="fs-field">
    <label class="fs-label" for="phone-number">Phone Number</label>
    <input class="fs-input" id="phone-number" name="phone-number" placeholder="{{ .number }}" autocomplete="on" required />
  </div>
  <div class="fs-field col-span-full">
    <label class="fs-label" for="message">Your Message</label>
    <textarea
      class="fs-textarea"
      id="message"
      name="message"
    ></textarea>
  </div>
  <div class="fs-checkbox-field col-span-full">
    <div class="fs-checkbox-wrapper">
      <input
        aria-describedby="dpa-consent-description"
        class="fs-checkbox"
        id="dpa-consent"
        name="dpa-consent"
        required
        type="checkbox"
        value="consent"
      />
    </div>
    <div>
      <label class="fs-label" for="dpa-consent-description">
        Declaration of consent for data processing
      </label>
      <p class="fs-description" id="dpa-consent-description">
        You agree that your data from the form will be collected and processed
        to answer your request. You can revoke your consent at any time for the
        future by e-mail to info@company.com. Detailed information on the
        handling of user data can be found in our data protection declaration.
      </p>
    </div>
  </div>
  <div class="fs-button-group">
    <button class="fs-button" type="submit">{{ .submit }}</button>
  </div>
</form>
{{"<!-- /contact spree form -->" | safeHTML}}
{{ end }}
{{ end }}